@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f0f5ff;
  height: 200vh;
}
.poll {
   position: absolute;
   top: 35%;
   left: 50%; 
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
}
.poll .question {
  border-bottom: 2px solid #eee;
}
.poll .answers .answer {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  color: #111;
  margin-bottom: 10px;
  border: 2px solid #d4d4d4;
  border-radius: 10px;
  cursor: pointer;
}

.poll .answers .answer.selected {
  border: 2px solid #8f9fe8;
}

.poll .answers .answer span.percentage-value {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 40px;
  transform: translateY(-50%);
  color: #111;
  font-size: 15px;
}

.poll .answers .answer span.percentage-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #ccd8f1;
  z-index: -1;
  transition: all 0.3s ease-in;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form {
  font-weight: bold;
  position: absolute;
  top: 100%;
  left: 50%; 
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 500px;
  height: 230px; 
  background-color: #F0F5FF;
}
.box {
  margin: 0 20px;
  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 10px;
}
.box-legend {
  font-size: 15px;
  color: rgb(110, 13, 13);
  padding: 15px 25px;
  font-family: monospace;
  text-align: center;
}
.label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.input-text {
  font-size: 16px;
  color: rgb(6, 6, 32);
  margin-left: 10px;
}
.my-radio {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio:checked + .my-radio {
  border: 2px solid red;
}
.radio:checked + .my-radio::before {
  opacity: 1;
}
.my-radio::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgb(11, 201, 11);
  opacity: 0;
}

.wrapper {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: rgb(152, 222, 231);
  padding: 50px 70px;
}

input {
  cursor: pointer;
}

#option-a, #option-b, #option-c {
  margin-left: 20px;
  margin-top: 20px;
}
